discord.py==1.5.1
asyncio
git+https://github.com/Rapptz/discord-ext-menus
pendulum
googletrans==4.0.0-rc1
asyncpg
apscheduler
psutil
git+https://github.com/Gorialis/jishaku@master#egg=jishaku
motor
pymongo[srv]
DiscordUtils